@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 14 14 16;
  --fg: 248 248 248;
}

html, body { height: 100%; }
body { background: rgb(var(--bg)); color: rgb(var(--fg)); }
a { color: #60a5fa; }
